body{
    margin:0;
    background-color: #ffffff;
    font-family:微软雅黑;
}
*{
    margin:0;
    padding:0;
}
.all{
    height:4554px;
    width:1280px;
    margin:0 auto;
    box-shadow: 0 0 2px #aaa;
}
.header{
    height:70px;
    width:100%;
}
.l{
    float:left;
    width:540px;
    height:70px;
    padding-left:100px;
}
.l img{
    float: left;
    height:40px;
    width:40px;
    padding:14px;
}
.l a{
    float: left;
    font-family:黑体;
    font-size: 22px;
    line-height: 68px;
}
.r{
    float: left;
    width:640px;
    height:70px;
}
.r a{
    float: left;
    font-size:16px;
    line-height:65px;
    width:16%;
    text-align: center;
    position: relative;
}
.r span{
    border-bottom:4px solid #ffffff;
    width: 75px;
    display: block;
    /*display: inline-block;/*根据字体长度自适应长度*/
}
.r a:hover,span:hover,img:hover{
    color: #BE4F48;
    border-bottom-color: #BE4F48;
}
.r img{
    height:20px;
    width:20px;
    position: absolute;
    margin:25px 0 23px -40px;
}
/*header头部至此部分代码*/
.content1{
    height:855px;
    width:1280px;
    float: left;
    background-image: url(../images/4.jpg);
    margin-top:-1px;
}
.content1 a{
    height:455px;
    width:680px;
    font-family:微软雅黑;
    color: #ffffff;
    float: left;
    margin:200px 500px 200px 100px;
    padding:50px;
}
#span1{
    font-size:60px;
}
#span2{
    font-size:21px;
    line-height:35px;
}
#span3{
    display: block;
    font-size:30px;
    height:60px;
    width:350px;
    background-color: #BE4F48;
    text-align: center;
    line-height:60px;
    margin-top: 60px;
    letter-spacing: 5px;
}
/*content1到此结束*/
.content2{
    height:100px;
    width:1280px;
    float: left;
}
.c1{
    height:100%;
    width:25%;
    float: left;
}
.c1 img{
    height:50px;
    width: 50px;
    display: block;
    margin:0 auto;
    padding:25px 0;
}
/*content2到此结束*/
.content3{
    height: 50px;
    width:100%;
}
.c2{
    height:100%;
    width:160px;
    border-right:2px solid #9d9d9d;
    float: left;
    text-align: center;
    font-family:黑体;
    font-size:14px;
    padding:0 79px;
}
/*content3到此结束*/
.content4{
    height:350px;
    width:100%;
    float: left;
    margin-top:50px;
    background-color:#f2f2f2;
    text-align: center;
}
.content4 img{
    padding:80px 585px 30px 585px;
    height:110px;
    width:110px;
}
.content4 a{
    font-size:54px;
    font-family:黑体;
    color: #a6a6a6;
    height:240;
    width:100%;
 }
/*content4到此结束*/
.content5{
    height:340px;
    width:1280px;
    float: left;
    background-image: url(../images/10.jpg);
    text-align: center;
    font-family:微软雅黑;
    color: #ffffff;
    font-size:12px;
}
.content5 a{
    display: block;
    height:35px;
    width:100%;
    margin:50px 0 0 0;
    font-size:21px;
}
.content5 hr{
    width:28px;
    font-weight: bold;
    margin:0 auto 20px auto;
    border:1px solid #ffffff;
}
.content5 form{
    width:1000px;
    height:35px;
    text-align: center;
    padding:50px 190px 0 190px;
    font-family:黑体;
}
.content5 select{
    width: 22%;
    height:100%;
    float: left;
    margin:0 10px;
    color: #a6a6a6;
    font-family:黑体;
}
.content5 button{
    width: 22%;
    height:100%;
    float: left;
    margin:0 10px;
    background: #BE4F48;
    color: #ffffff;
    font-family:黑体;
    border:none;
}
/*content5到此结束*/
.content6{
    float: left;
    height:500px;
    width:1080px;
    padding:100px 100px 0;
    background-color: #f2f2f2;
}
.a1{
    height:400px;
    width:268px;
    float: left;
}
.a1 img{
    height:310px;
    width:200px;
    padding:10px 10px;
    margin:0 23px;
    float: left;
    border:1px solid #a6a6a6;
    background-color: #ffffff;
}
.a1 a{
    float: left;
    height:40px;
    width:268px;
    font-family:微软雅黑;
    text-align: center;
    padding-top:10px;
}
#ts{
    padding:0 0 10px 0;
    font-size:21px;
    width:268px;
    line-height:23px;
    display: block;
    word-spacing:35px;
}
.a1 span{
    font-size:13px;
    color: #808080;
    letter-spacing:0;
}
/*content6到此结束*/
.content7{
    height:565px;
    width:1280px;
    float: left;
    text-align: center;
    color: #ffffff;
    font-family:宋体;
}
.l1{
    height:565px;
    width:850px;
    float: left;
    position: relative;
    background-image: url("../images/15.jpg");
}
.l1s{
    position: absolute;
    border-width:10px;
    background-color: #ffffff;
    border-style:solid;
    border-color: transparent #ffffff transparent transparent;
    top:20px;
    left:100%;
    margin-left:30px;
}
.l2{
    height:305px;
    width:500px;
    margin:130px 175px;
    font-family:微软雅黑;
}
#a1{
    font-size:50px;
    width:500px;
    height:66px;
    display: block;
}
#a2{
    display: block;
    width:500px;
    height:130px;
    font-size:158px;
    line-height:120px;
}
#a3{
    display: block;
    font-size:22px;
    width:500px;
    height:29px;
}
.l3{
    height:565px;
    width:430px;
    float: left;
}
#a4{
    height:305px;
    width:288px;
    margin: 130px 70px;
    color: #000;
}
#a5{
    font-size:22px;
    line-height:60px;
    height:60px;
    width:100%;
    float: left;
    font-weight:bold;
}
#a8{
    color: #BE4F48;
    font-weight: bold;
}
#a6{
    color: #808080;
    width:288px;
    height:120px;
    line-height:30px;
    font-size:12px;
    float: left;
    text-align: left;
}
#a7{
    border:1px solid #BE4F48;
    float: left;
    font-size:14px;
    height:20px;
    width:70px;
    line-height:20px;
    padding:5px 20px;
    margin:40px 88px 0;
    color: #BE4F48;
}
#a7:hover{
    border:none;
    background-color:#BE4F48;
    color: #ffffff;
    cursor: pointer;
}
.a9{
    height:50px;
    width:100%;
    float: left;
}
.a10{
    height:50px;
    width:100px;
    margin:0 94px;
}
.list{
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width:9px;
    height:9px;
    background:#fff;
    border:1px solid #808080;
    text-align:center;
    float: left;
    margin:30px 11px;
}
/*content7到此结束*/
.content8{
    height:520px;
    width:100%;
    float: left;
    font-family: 黑体;
    font-size:22px;
    text-align: center;
    color: #ffffff;
}
.a2{
    height:520px;
    width:425px;
    float: left;
    background-image: url("../images/16.jpg");
}
.a21{
    height:300px;
    width:225px;
    margin:110px auto;
}
.a21 hr{
    width:30px;
    color: #fff;
    margin:30px auto 40px;
    border:1px solid #fff;
}
.a21 hr:hover{
    width:225px;
}
.a21 a{
    font-size:22px;
    padding:10px 35px;
    border:1px solid #ffffff;
    text-decoration: none;
    color: inherit;
}
.a21 a:hover{
    background-color: #ffffff;
    color: #BE4F48;
    cursor: pointer;
}
.a3{
    height:520px;
    width:425px;
    float: left;
    background-image: url("../images/17.jpg");
}
.a31{
    height:300px;
    width:225px;
    margin:110px auto;
    color: #000;
}
.a31 hr{
    width:30px;
    margin:30px auto 40px;
    border:1px solid #808080;
}
.a31 hr:hover{
    width:225px;
}
.a31 a{
    font-size:22px;
    padding:10px 35px;
    border:1px solid #e74f4d;
    color: #e74f4d;
    text-decoration: none;
}
.a31 a:hover{
    background-color: #e74f4d;
    color: #ffffff;
    cursor: pointer;
}
.a4{
    height:520px;
    width:430px;
    float: left;
    background-image: url("../images/18.jpg");
}
.a4-tu{
    height:0;
    width:0;
    border:20px solid transparent;
    border-left-color: #ffffff;
    margin-top:200px;
    margin-left:2px;
}
/*content8到此结束*/
.content9{
    height:650px;
    width:1280px;
    float: left;
}
.content9-big{
    height:500px;
    width:1000px;
    margin:100px auto;
    text-align: center;
}
.content9-big-top{
    height:100px;
    width:100%;
    font-size:22px;
    font-family:黑体;
    text-align: center;
    float: left;
}
.content9-big hr{
    width:30px;
    margin:10px auto;
    border:1px solid #e74f4d;
}
.content9-big a{
    font-size:12px;
    color: #a6a6a6;
}
.content9-big-left{
    height:348px;
    width:30%;
    float: left;
    margin-top:50px;
    text-align: left;
}
.content9-big-left h1{
    font-size:15px;
    font-weight:normal;
    font-family:黑体;
    line-height:80px;
}
.content9-big-left a{
    font-size:12px;
}
.content9-big-left p{
    font-size:12px;
    text-align: right;
    color: #a6a6a6;
}
.content9-big-right{
    height:333px;
    width:60%;
    float: right;
    margin-top: 50px;
    padding-top:15px;
}
.content9-big-right-top{
    height:40px;
    width:40%;
    background-color: #a6a6a6;
    float: left;
}
.content9-big-right input{
    height:40px;
    width:40%;
    float: left;
    background-color: #E0E0E0;
    border:none;
    margin:15px 0 0 20px;
    font-size:12px;
    font-family:黑体;
    color: #808080;
    padding-left:20px;
}
.content9-big-right button{
    height:40px;
    width:540px;
    float: left;
    background-color: #E0E0E0;
    border:none;
    margin:15px 0 0 20px;
    font-size:14px;
    font-family:黑体;
    cursor: pointer;
}
/*content9到此结束*/
.content10{
    width:100%;
    height:350px;
    float: left;
    border:1px solid #e74f4d;
    background-color: #696969;
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
}
.content10-top{
    font-size:22px;
    font-family:微软雅黑;
    padding-top:80px;
    text-align: center;
}
.content10-mi{
    font-size:11px;
    font-family:微软雅黑;
    text-align: center;
}
.content10 button{

}
